@charset "UTF-8";
@font-face {
  font-family: "feather";
  src: url("../fonts/feather.eot?29jl7i");
  src: url("../fonts/feather.eot?29jl7i#iefix") format("embedded-opentype"),
    url("../fonts/feather.ttf?29jl7i") format("truetype"),
    url("../fonts/feather.woff?29jl7i") format("woff"),
    url("../fonts/feather.svg?29jl7i#feather") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.fe {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "feather" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fe-32 {
  font-size: 32px;
}

.fe-24 {
  font-size: 24px;
}

.fe-16 {
  font-size: 16px;
}

.fe-12 {
  font-size: 12px;
}

.fe-activity:before {
  content: "";
}

.fe-airplay:before {
  content: "";
}

.fe-alert-circle:before {
  content: "";
}

.fe-alert-octagon:before {
  content: "";
}

.fe-alert-triangle:before {
  content: "";
}

.fe-align-center:before {
  content: "";
}

.fe-align-justify:before {
  content: "";
}

.fe-align-left:before {
  content: "";
}

.fe-align-right:before {
  content: "";
}

.fe-anchor:before {
  content: "";
}

.fe-aperture:before {
  content: "";
}

.fe-archive:before {
  content: "";
}

.fe-arrow-down:before {
  content: "";
}

.fe-arrow-down-circle:before {
  content: "";
}

.fe-arrow-down-left:before {
  content: "";
}

.fe-arrow-down-right:before {
  content: "";
}

.fe-arrow-left:before {
  content: "";
}

.fe-arrow-left-circle:before {
  content: "";
}

.fe-arrow-right:before {
  content: "";
}

.fe-arrow-right-circle:before {
  content: "";
}

.fe-arrow-up:before {
  content: "";
}

.fe-arrow-up-circle:before {
  content: "";
}

.fe-arrow-up-left:before {
  content: "";
}

.fe-arrow-up-right:before {
  content: "";
}

.fe-at-sign:before {
  content: "";
}

.fe-award:before {
  content: "";
}

.fe-bar-chart:before {
  content: "";
}

.fe-bar-chart-2:before {
  content: "";
}

.fe-battery:before {
  content: "";
}

.fe-battery-charging:before {
  content: "";
}

.fe-bell:before {
  content: "";
}

.fe-bell-off:before {
  content: "";
}

.fe-bluetooth:before {
  content: "";
}

.fe-bold:before {
  content: "";
}

.fe-book:before {
  content: "";
}

.fe-book-open:before {
  content: "";
}

.fe-bookmark:before {
  content: "";
}

.fe-box:before {
  content: "";
}

.fe-briefcase:before {
  content: "";
}

.fe-calendar:before {
  content: "";
}

.fe-camera:before {
  content: "";
}

.fe-camera-off:before {
  content: "";
}

.fe-cast:before {
  content: "";
}

.fe-check:before {
  content: "";
}

.fe-check-circle:before {
  content: "";
}

.fe-check-square:before {
  content: "";
}

.fe-chevron-down:before {
  content: "";
}

.fe-chevron-left:before {
  content: "";
}

.fe-chevron-right:before {
  content: "";
}

.fe-chevron-up:before {
  content: "";
}

.fe-chevrons-down:before {
  content: "";
}

.fe-chevrons-left:before {
  content: "";
}

.fe-chevrons-right:before {
  content: "";
}

.fe-chevrons-up:before {
  content: "";
}

.fe-chrome:before {
  content: "";
}

.fe-circle:before {
  content: "";
}

.fe-clipboard:before {
  content: "";
}

.fe-clock:before {
  content: "";
}

.fe-cloud:before {
  content: "";
}

.fe-cloud-drizzle:before {
  content: "";
}

.fe-cloud-lightning:before {
  content: "";
}

.fe-cloud-off:before {
  content: "";
}

.fe-cloud-rain:before {
  content: "";
}

.fe-cloud-snow:before {
  content: "";
}

.fe-code:before {
  content: "";
}

.fe-codepen:before {
  content: "";
}

.fe-codesandbox:before {
  content: "";
}

.fe-coffee:before {
  content: "";
}

.fe-columns:before {
  content: "";
}

.fe-command:before {
  content: "";
}

.fe-compass:before {
  content: "";
}

.fe-copy:before {
  content: "";
}

.fe-corner-down-left:before {
  content: "";
}

.fe-corner-down-right:before {
  content: "";
}

.fe-corner-left-down:before {
  content: "";
}

.fe-corner-left-up:before {
  content: "";
}

.fe-corner-right-down:before {
  content: "";
}

.fe-corner-right-up:before {
  content: "";
}

.fe-corner-up-left:before {
  content: "";
}

.fe-corner-up-right:before {
  content: "";
}

.fe-cpu:before {
  content: "";
}

.fe-credit-card:before {
  content: "";
}

.fe-crop:before {
  content: "";
}

.fe-crosshair:before {
  content: "";
}

.fe-database:before {
  content: "";
}

.fe-delete:before {
  content: "";
}

.fe-disc:before {
  content: "";
}

.fe-dollar-sign:before {
  content: "";
}

.fe-download:before {
  content: "";
}

.fe-download-cloud:before {
  content: "";
}

.fe-droplet:before {
  content: "";
}

.fe-edit:before {
  content: "";
}

.fe-edit-2:before {
  content: "";
}

.fe-edit-3:before {
  content: "";
}

.fe-external-link:before {
  content: "";
}

.fe-eye:before {
  content: "";
}

.fe-eye-off:before {
  content: "";
}

.fe-facebook:before {
  content: "";
}

.fe-fast-forward:before {
  content: "";
}

.fe-feather:before {
  content: "";
}

.fe-figma:before {
  content: "";
}

.fe-file:before {
  content: "";
}

.fe-file-minus:before {
  content: "";
}

.fe-file-plus:before {
  content: "";
}

.fe-file-text:before {
  content: "";
}

.fe-film:before {
  content: "";
}

.fe-filter:before {
  content: "";
}

.fe-flag:before {
  content: "";
}

.fe-folder:before {
  content: "";
}

.fe-folder-minus:before {
  content: "";
}

.fe-folder-plus:before {
  content: "";
}

.fe-framer:before {
  content: "";
}

.fe-frown:before {
  content: "";
}

.fe-gift:before {
  content: "";
}

.fe-git-branch:before {
  content: "";
}

.fe-git-commit:before {
  content: "";
}

.fe-git-merge:before {
  content: "";
}

.fe-git-pull-request:before {
  content: "";
}

.fe-github:before {
  content: "";
}

.fe-gitlab:before {
  content: "";
}

.fe-globe:before {
  content: "";
}

.fe-grid:before {
  content: "";
}

.fe-hard-drive:before {
  content: "";
}

.fe-hash:before {
  content: "";
}

.fe-headphones:before {
  content: "";
}

.fe-heart:before {
  content: "";
}

.fe-help-circle:before {
  content: "";
}

.fe-hexagon:before {
  content: "";
}

.fe-home:before {
  content: "";
}

.fe-image:before {
  content: "";
}

.fe-inbox:before {
  content: "";
}

.fe-info:before {
  content: "";
}

.fe-instagram:before {
  content: "";
}

.fe-italic:before {
  content: "";
}

.fe-key:before {
  content: "";
}

.fe-layers:before {
  content: "";
}

.fe-layout:before {
  content: "";
}

.fe-life-buoy:before {
  content: "";
}

.fe-link:before {
  content: "";
}

.fe-link-2:before {
  content: "";
}

.fe-linkedin:before {
  content: "";
}

.fe-list:before {
  content: "";
}

.fe-loader:before {
  content: "";
}

.fe-lock:before {
  content: "";
}

.fe-log-in:before {
  content: "";
}

.fe-log-out:before {
  content: "";
}

.fe-mail:before {
  content: "";
}

.fe-map:before {
  content: "";
}

.fe-map-pin:before {
  content: "";
}

.fe-maximize:before {
  content: "";
}

.fe-maximize-2:before {
  content: "";
}

.fe-meh:before {
  content: "";
}

.fe-menu:before {
  content: "";
}

.fe-message-circle:before {
  content: "";
}

.fe-message-square:before {
  content: "";
}

.fe-mic:before {
  content: "";
}

.fe-mic-off:before {
  content: "";
}

.fe-minimize:before {
  content: "";
}

.fe-minimize-2:before {
  content: "";
}

.fe-minus:before {
  content: "";
}

.fe-minus-circle:before {
  content: "";
}

.fe-minus-square:before {
  content: "";
}

.fe-monitor:before {
  content: "";
}

.fe-moon:before {
  content: "";
}

.fe-more-horizontal:before {
  content: "";
}

.fe-more-vertical:before {
  content: "";
}

.fe-mouse-pointer:before {
  content: "";
}

.fe-move:before {
  content: "";
}

.fe-music:before {
  content: "";
}

.fe-navigation:before {
  content: "";
}

.fe-navigation-2:before {
  content: "";
}

.fe-octagon:before {
  content: "";
}

.fe-package:before {
  content: "";
}

.fe-paperclip:before {
  content: "";
}

.fe-pause:before {
  content: "";
}

.fe-pause-circle:before {
  content: "";
}

.fe-pen-tool:before {
  content: "";
}

.fe-percent:before {
  content: "";
}

.fe-phone:before {
  content: "";
}

.fe-phone-call:before {
  content: "";
}

.fe-phone-forwarded:before {
  content: "";
}

.fe-phone-incoming:before {
  content: "";
}

.fe-phone-missed:before {
  content: "";
}

.fe-phone-off:before {
  content: "";
}

.fe-phone-outgoing:before {
  content: "";
}

.fe-pie-chart:before {
  content: "";
}

.fe-play:before {
  content: "";
}

.fe-play-circle:before {
  content: "";
}

.fe-plus:before {
  content: "";
}

.fe-plus-circle:before {
  content: "";
}

.fe-plus-square:before {
  content: "";
}

.fe-pocket:before {
  content: "";
}

.fe-power:before {
  content: "";
}

.fe-printer:before {
  content: "";
}

.fe-radio:before {
  content: "";
}

.fe-refresh-ccw:before {
  content: "";
}

.fe-refresh-cw:before {
  content: "";
}

.fe-repeat:before {
  content: "";
}

.fe-rewind:before {
  content: "";
}

.fe-rotate-ccw:before {
  content: "";
}

.fe-rotate-cw:before {
  content: "";
}

.fe-rss:before {
  content: "";
}

.fe-save:before {
  content: "";
}

.fe-scissors:before {
  content: "";
}

.fe-search:before {
  content: "";
}

.fe-send:before {
  content: "";
}

.fe-server:before {
  content: "";
}

.fe-settings:before {
  content: "";
}

.fe-share:before {
  content: "";
}

.fe-share-2:before {
  content: "";
}

.fe-shield:before {
  content: "";
}

.fe-shield-off:before {
  content: "";
}

.fe-shopping-bag:before {
  content: "";
}

.fe-shopping-cart:before {
  content: "";
}

.fe-shuffle:before {
  content: "";
}

.fe-sidebar:before {
  content: "";
}

.fe-skip-back:before {
  content: "";
}

.fe-skip-forward:before {
  content: "";
}

.fe-slack:before {
  content: "";
}

.fe-slash:before {
  content: "";
}

.fe-sliders:before {
  content: "";
}

.fe-smartphone:before {
  content: "";
}

.fe-smile:before {
  content: "";
}

.fe-speaker:before {
  content: "";
}

.fe-square:before {
  content: "";
}

.fe-star:before {
  content: "";
}

.fe-stop-circle:before {
  content: "";
}

.fe-sun:before {
  content: "";
}

.fe-sunrise:before {
  content: "";
}

.fe-sunset:before {
  content: "";
}

.fe-tablet:before {
  content: "";
}

.fe-tag:before {
  content: "";
}

.fe-target:before {
  content: "";
}

.fe-terminal:before {
  content: "";
}

.fe-thermometer:before {
  content: "";
}

.fe-thumbs-down:before {
  content: "";
}

.fe-thumbs-up:before {
  content: "";
}

.fe-toggle-left:before {
  content: "";
}

.fe-toggle-right:before {
  content: "";
}

.fe-tool:before {
  content: "";
}

.fe-trash:before {
  content: "";
}

.fe-trash-2:before {
  content: "";
}

.fe-trello:before {
  content: "";
}

.fe-trending-down:before {
  content: "";
}

.fe-trending-up:before {
  content: "";
}

.fe-triangle:before {
  content: "";
}

.fe-truck:before {
  content: "";
}

.fe-tv:before {
  content: "";
}

.fe-twitch:before {
  content: "";
}

.fe-twitter:before {
  content: "";
}

.fe-type:before {
  content: "";
}

.fe-umbrella:before {
  content: "";
}

.fe-underline:before {
  content: "";
}

.fe-unlock:before {
  content: "";
}

.fe-upload:before {
  content: "";
}

.fe-upload-cloud:before {
  content: "";
}

.fe-user:before {
  content: "";
}

.fe-user-check:before {
  content: "";
}

.fe-user-minus:before {
  content: "";
}

.fe-user-plus:before {
  content: "";
}

.fe-user-x:before {
  content: "";
}

.fe-users:before {
  content: "";
}

.fe-video:before {
  content: "";
}

.fe-video-off:before {
  content: "";
}

.fe-voicemail:before {
  content: "";
}

.fe-volume:before {
  content: "";
}

.fe-volume-1:before {
  content: "";
}

.fe-volume-2:before {
  content: "";
}

.fe-volume-x:before {
  content: "";
}

.fe-watch:before {
  content: "";
}

.fe-wifi:before {
  content: "";
}

.fe-wifi-off:before {
  content: "";
}

.fe-wind:before {
  content: "";
}

.fe-x:before {
  content: "";
}

.fe-x-circle:before {
  content: "";
}

.fe-x-octagon:before {
  content: "";
}

.fe-x-square:before {
  content: "";
}

.fe-youtube:before {
  content: "";
}

.fe-zap:before {
  content: "";
}

.fe-zap-off:before {
  content: "";
}

.fe-zoom-in:before {
  content: "";
}

.fe-zoom-out:before {
  content: "";
}

.solar--file-text-bold {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: -6px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M14 22h-4c-3.771 0-5.657 0-6.828-1.172C2 19.657 2 17.771 2 14v-4c0-3.771 0-5.657 1.172-6.828C4.343 2 6.239 2 10.03 2c.606 0 1.091 0 1.5.017c-.013.08-.02.161-.02.244l-.01 2.834c0 1.097 0 2.067.105 2.848c.114.847.375 1.694 1.067 2.386c.69.69 1.538.952 2.385 1.066c.781.105 1.751.105 2.848.105h4.052c.043.534.043 1.19.043 2.063V14c0 3.771 0 5.657-1.172 6.828C19.657 22 17.771 22 14 22m-8.75-7.5a.75.75 0 0 1 .75-.75h8a.75.75 0 0 1 0 1.5H6a.75.75 0 0 1-.75-.75m0 3.5a.75.75 0 0 1 .75-.75h5.5a.75.75 0 0 1 0 1.5H6a.75.75 0 0 1-.75-.75' clip-rule='evenodd'/%3E%3Cpath fill='%23000' d='m19.352 7.617l-3.96-3.563c-1.127-1.015-1.69-1.523-2.383-1.788L13 5c0 2.357 0 3.536.732 4.268C14.464 10 15.643 10 18 10h3.58c-.362-.704-1.012-1.288-2.228-2.383'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.solar--logout-outline {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 4px;
  margin-bottom: -7px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 3.25a.75.75 0 0 1 0 1.5a7.25 7.25 0 0 0 0 14.5a.75.75 0 0 1 0 1.5a8.75 8.75 0 1 1 0-17.5'/%3E%3Cpath fill='%23000' d='M16.47 9.53a.75.75 0 0 1 1.06-1.06l3 3a.75.75 0 0 1 0 1.06l-3 3a.75.75 0 1 1-1.06-1.06l1.72-1.72H10a.75.75 0 0 1 0-1.5h8.19z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.fluent--home-32-regular {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M16.81 4.3a1.25 1.25 0 0 0-1.62 0l-9.75 8.288a1.25 1.25 0 0 0-.44.953V26.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-7a2.5 2.5 0 0 1 2.5-2.5h5.004a2.5 2.5 0 0 1 2.5 2.5v7a.5.5 0 0 0 .5.5H26.5a.5.5 0 0 0 .5-.5V13.54a1.25 1.25 0 0 0-.44-.952zm-2.915-1.523a3.25 3.25 0 0 1 4.21 0l9.75 8.287A3.25 3.25 0 0 1 29 13.54V26.5a2.5 2.5 0 0 1-2.5 2.5h-4.996a2.5 2.5 0 0 1-2.5-2.5v-7a.5.5 0 0 0-.5-.5H13.5a.5.5 0 0 0-.5.5v7a2.5 2.5 0 0 1-2.5 2.5h-5A2.5 2.5 0 0 1 3 26.5V13.54a3.25 3.25 0 0 1 1.145-2.476z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.tabler--square-rounded-arrow-right {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: -6px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m12 16l4-4l-4-4m-4 4h8'/%3E%3Cpath d='M12 3c7.2 0 9 1.8 9 9s-1.8 9-9 9s-9-1.8-9-9s1.8-9 9-9'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
